.page-banner {
    display: block;
    max-width: 100%;
}

.page-banner img {
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 3px var( --dark-golden);
 
}

/* Desktop and Tablet Overrides */
@media (min-width: 768px) {
    .page-banner img {
        max-width: 80%; /* Constrains the image on larger screens */
        border-radius: 2rem;
        margin: 1rem;
    }
}