footer{
    width: 100%;
    border-top: 1px solid rgba(229, 231, 235, 0.8); /* border-gray-200/80 */
    border-top: 1px solid  var(--light-golden);
    background-color: rgba(255, 255, 255, 0.8); /* bg-white/80 */
    backdrop-filter: blur(12px); /* backdrop-blur-md */
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    max-height:10rem ;
}

footer .content {
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow-x: auto;
}

footer section {
    margin-top: 1rem;
    max-width: 20rem;
    margin-left: 1rem;
}

@media screen and (min-width: 800px) {
    footer section {
        margin-left: 0;
    }
}

